/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Inconsolata');

/* nav bar */
.distill-site-nav {
    color: #afa4bc;
    background-color: #381c57;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
}

.nav-left {
    font-size: 25px;
    font-weight: 500;
}

.nav-right {
    font-size: 22px;
    font-weight: 400;
}

/* headers */
h1, h2, h3, h4, h5 {
    font-family: 'Inconsolata', sans-serif;
}

d-title {
    color: black;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 600;
}

d-byline {
    font-family: 'Lato', sans-serif;
    color: black;
}

d-article {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: black
}

h2, h3, h4, h5 {
    color: #381c57
}

/* background color for pages */
body {
    background-color: #ebe8ee;
}

/* font for body of text */
html, body, p {
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    color: black;
}


